APP_ENV=production
APP_DEBUG=false
APP_KEY=SomeRandomString
APP_URL=http://deploy.app
APP_TIMEZONE=Europe/London
APP_LOCALE=en
APP_THEME=green
APP_LOG=daily

JWT_SECRET=changeme

SOCKET_URL=http://deploy.app # If using apache you will need to add the port :6001
SOCKET_PORT=6001
SOCKET_SSL_KEY_FILE=
SOCKET_SSL_CERT_FILE=
SOCKET_SSL_CA_FILE=

DB_TYPE=mysql
DB_HOST=localhost
DB_DATABASE=deployer
DB_USERNAME=homestead
DB_PASSWORD=secret

MAIL_DRIVER=smtp
MAIL_HOST=localhost
MAIL_PORT=25
MAIL_USERNAME=homestead
MAIL_PASSWORD=secret
MAIL_FROM_NAME=Deployer
MAIL_FROM_ADDRESS=deployer@deploy.app

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DATABASE=
REDIS_PASSWORD= 

QUEUE_DRIVER=beanstalkd
QUEUE_HOST=localhost

CACHE_DRIVER=file
SESSION_DRIVER=file
IMAGE_DRIVER=gd

TRUSTED_PROXIES= # A comma seperated list of proxies to trust or * for all
GITHUB_OAUTH_TOKEN=
