# Configuration
.env
.env.prev

# Dev files
.php_cs.cache
.vagrant/
phpunit.xml
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
clover.xml

# Composer files
composer.phar
auth.json

# Dependencies
node_modules/
vendor/
bower_components/
npm-debug.log

# Include laravel vendor resources
!*/**/vendor/
