# Configuration
.env
.env.prev

# Dev files
.php_cs.cache
.php_cs
phpunit.xml
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
coverage.xml

# Composer files
composer.phar
auth.json

# Dependencies
node_modules/
vendor/
bower_components/
npm-debug.log

# Compiled files
public/css/
public/js/
public/build/
public/fonts/

# Include laravel vendor resources
!*/**/vendor/
