# Configuration
.env
.env.prev

# Dev files
.php_cs.cache
.php_cs
.phpunit-cas.db
phpunit.xml
phpcs.xml
phpmd.xml
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
coverage.xml
docker-compose.override.yml

# Composer files
composer.phar
auth.json

# Dependencies
node_modules/
vendor/
tmp/
npm-debug.log

# Include laravel vendor resources
!*/**/vendor/
