<?php

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setIndent("    ")
    ->setLineEnding("\n")
    ->setRules([
        '@PSR2'                                       => true,
        'psr0'                                        => false,
        'psr4'                                        => true,
        'array_syntax'                                => ['syntax' => 'short'],
        'binary_operator_spaces'                      => ['align_equals' => true, 'align_double_arrow' => true],
        'blank_line_after_opening_tag'                => true,
        'blank_line_before_return'                    => true,
        'cast_spaces'                                 => true,
        'concat_space'                                => ['spacing' => 'one'],
        'elseif'                                      => true,
        'encoding'                                    => true,
        'full_opening_tag'                            => true,
        'function_declaration'                        => true,
        'function_typehint_space'                     => true,
        'hash_to_slash_comment'                       => true,
        'include'                                     => true,
        'indentation_type'                            => true,
        'lowercase_cast'                              => true,
        'method_separation'                           => true,
        'modernize_types_casting'                     => true,
        'new_with_braces'                             => true,
        'no_alias_functions'                          => true,
        'no_blank_lines_after_class_opening'          => true,
        'no_blank_lines_after_phpdoc'                 => true,
        'no_closing_tag'                              => true,
        'no_empty_statement'                          => true,
        'no_extra_consecutive_blank_lines'            => true,
        'no_leading_import_slash'                     => true,
        'no_leading_namespace_whitespace'             => true,
        'no_multiline_whitespace_before_semicolons'   => true,
        'no_php4_constructor'                         => true,
        'no_short_bool_cast'                          => true,
        'no_short_echo_tag'                           => true,
        'no_singleline_whitespace_before_semicolons'  => true,
        'no_trailing_comma_in_list_call'              => true,
        'no_trailing_comma_in_singleline_array'       => true,
        'no_useless_else'                             => true,
        'no_unused_imports'                           => true,
        'no_useless_return'                           => true,
        'no_whitespace_in_blank_line'                 => true,
        'no_unreachable_default_argument_value'       => true,
        'ordered_class_elements'                      => true,
        'ordered_imports'                             => true,
        'object_operator_without_whitespace'          => true,
        'phpdoc_align'                                => true,
        'phpdoc_indent'                               => true,
        'phpdoc_no_access'                            => true,
        'phpdoc_no_alias_tag'                         => ['type' => 'var'],
        'phpdoc_no_package'                           => true,
        'phpdoc_no_empty_return'                      => true,
        'phpdoc_order'                                => true,
        'phpdoc_scalar'                               => true,
        'phpdoc_summary'                              => true,
        'phpdoc_to_comment'                           => true,
        'phpdoc_trim'                                 => true,
        'phpdoc_var_without_name'                     => true,
        'php_unit_construct'                          => true,
        'php_unit_dedicate_assert'                    => true,
        'php_unit_fqcn_annotation'                    => true,
        'php_unit_strict'                             => true,
        'pow_to_exponentiation'                       => true,
        'random_api_migration'                        => true,
        'self_accessor'                               => true,
        'semicolon_after_instruction'                 => true,
        'simplified_null_return'                      => true,
        'single_blank_line_at_eof'                    => true,
        'single_blank_line_before_namespace'          => true,
        'single_quote'                                => true,
        'standardize_not_equals'                      => true,
        'strict_comparison'                           => true,
        'strict_param'                                => true,
        'switch_case_semicolon_to_colon'              => true,
        'switch_case_space'                           => true,
        'ternary_operator_spaces'                     => true,
        'trailing_comma_in_multiline_array'           => true,
        'trim_array_spaces'                           => true,
        'unary_operator_spaces'                       => true,
        'visibility_required'                         => true,
    ])
    ->setFinder(
        PhpCsFixer\Finder::create()
            ->files()
            ->in('app')
            ->in('config')
            ->in('database')
            ->in('resources/lang')
            ->in('tests')
            ->name('*.php')
            ->ignoreDotFiles(true)
            ->ignoreVCS(true)
    );
