<?xml version="1.0" encoding="UTF-8" ?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
>
    <testsuites>
        <testsuite name="Integration Tests">
            <directory>./tests/Integration</directory>
        </testsuite>

        <testsuite name="Unit Tests">
            <directory>./tests/Unit</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app/</directory>
            <exclude>
                <directory suffix=".php">./app/Helpers</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>

    <listeners>
        <listener class="NunoMaduro\Collision\Adapters\Phpunit\Listener" />
    </listeners>

    <php>
        <ini name="memory_limit" value="2048M" />
        <env name="APP_ENV" value="testing" />
        <env name="APP_URL" value="http://localhost" />
        <env name="APP_DEBUG" value="true" />
        <env name="APP_KEY" value="cHKwVTJCF75DKo9bta72ZNrkS6Q0tqYy" />
        <env name="APP_TIMEZONE" value="UTC" />
        <env name="APP_LOCALE" value="en" />
        <env name="DB_CONNECTION" value="sqlite" />
        <env name="DB_DATABASE" value=":memory:" />
        <env name="CACHE_DRIVER" value="array" />
        <env name="SESSION_DRIVER" value="array" />
        <env name="MAIL_DRIVER" value="log" />
        <env name="QUEUE_CONNECTION" value="sync" />
        <env name="BROADCAST_DRIVER" value="log" />
        <env name="TELESCOPE_ENABLED" value="false" />
    </php>
</phpunit>
