#log pre { 
    max-height: 300px;
    overflow: auto;
}

.login-box-body .form-control-feedback {
    line-height: 34px !important;
}

#forgotten-password {
    margin-top: 10px;
}

body.dragging,
body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

.command-list table tr.placeholder {
    position: relative;
    display: block;
    background: red;
    margin: 0;
    padding: 0;
    border: none;
}

.command-list table tr {
    cursor: pointer;
}

.command-list table tr.placeholder:before {
    content:           "";
    position:          absolute;
    width:             0;
    height:            0;
    border:            5px solid transparent;
    border-left-color: red;
    margin-top:        -5px;
    left:              -5px;
    border-right:      none;
}

.deploy-reason {
    cursor: pointer;
}

#pending_menu, #deploying_menu {
    display: none;
}

/* Make sure there is always a space between the icon and the label as HTMLMin removes it */
span.label i.fa {
    margin-right: 2px;
}

input[type=text].deployment-source {
    display: none;
}

#command_script,
#project-file-content { 
    height: 250px;
}


#preview-content {
    height: 500px;
    max-height: 500px;
    overflow-y: scroll;
}

#repository_error {
    display: none;
}

#deploying_menu li a p,
#deploying_menu li a h4,
#pending_menu li a p,
#pending_menu li a h4 {
    margin-left: 0;
}

.project-status .nav-tabs-custom > .nav-tabs > li {
    margin-right: 0;
}