/* Console theme - Afterglow */
div.console-afterglow pre {
    background-color: #2c2c2c;
    color: #d9d9d9;
}

div.console-afterglow pre span.text-red {
    color: #b64b3e !important;
}

div.console-afterglow pre span.text-default {
    color: #d9d9d9;
}

/* Console theme - Solarized dark */
div.console-solarized-dark pre {
    background-color: #002b36;
    color: #839496;
}

div.console-solarized-dark pre span.text-red {
    color: #073642 !important;
}

div.console-solarized-dark pre span.text-default {
    color: #839496;
}

/* Console theme - Solarized light */
div.console-solarized-light pre {
    background-color: #fdf6e3;
    color: #657b83;
}

div.console-solarized-light pre span.text-red {
    color: #eee8d5 !important;
}

div.console-solarized-light pre span.text-default {
    color: #657b83;
}

/* Console theme - Monokai  */
div.console-monokai pre {
    background-color: #272822;
    color: #F8F8F2;
}

div.console-monokai pre span.text-red {
    color: rgba(249,38,114,1) !important;
}

div.console-monokai pre span.text-default {
    color: #F8F8F2;
}

/* Console theme - Dawn  */
div.console-dawn pre {
    background-color: #F9F9F9;
    color: #000000;
}

div.console-dawn pre span.text-red {
    color: rgba(191,79,36,1) !important;
}

div.console-dawn pre span.text-default {
    color: #000000;
}
